li {
    list-style:none;
}

header {
    background-color : #eee;
}

#wrap {
    overflow:auto;
    margin:20px 0px;
}

.left, .right, .realright {
    float:left;
    height: 200px;
}

.left {
    width:17%;
    margin-right:3%;
    background-color : #47c;
}

.right {
    width : 60%;
    text-align:center;
    background-color : #47c;
}

.realright {
    width: 17%;
    margin-left:3%;
    background-color : #67c;
}

.right > h2 {
    position:relative;
}

.right .emoticon {
    position:absolute;
    top:0px;
    right:5%;
    color:#fff;
}

footer {
    background-color : #eee;
    clear:left;
}